<body>
<main class="main-container" [style.background-color]="themeActive?.background">
  <div class="wrapper-main">

    <div class="container-header" [style.background-color]="themeActive?.header">

      <div class="main-name">
        <h3 class="name-principal" [style.color]="themeActive.numbers">Social Media Dashboard</h3>
        <h4 class="name-second">Total Followers: 23,004</h4>
      </div>

      <div class="split"></div>

      <div class="container-button">
        <h4 class="name-second">Dark Mode</h4>
        <label class="switch">
          <input id="toggleId" type="checkbox" [formControl]="themeControl" aria-label="Tema">
          <span class="slider round"
                [style.background-image]="themeActive.toggleBackImage"
                [style.background-color]="themeActive.toggleBack"
                [ngClass]="themeActive.ballColor"
          >

          </span>
        </label>
      </div>

    </div>

    <div class="cards-container__main">

      <div class="card-container">

        <div class="card-header face">

        </div>

        <div class="card" [style.background-color]="themeActive?.card"
             [ngClass]="themeActive.cardClassHover"
        >
          <div class="card-icon__name">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-facebook.svg" alt="icon" width="20" height="20">
            <h4 class="icon-name">@nathanf</h4>
          </div>
          <div class="card-followers">
            <div class="followers-number" [style.color]="themeActive.numbers">1987</div>
            <div class="followers-text">Followers</div>
          </div>
          <div class="card-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">12 Today</h4>
          </div>

        </div>
      </div>

      <div class="card-container">
        <div class="card-header twitter">

        </div>
        <div class="card"
             [style.background-color]="themeActive?.card"
             [ngClass]="themeActive.cardClassHover">
          <div class="card-icon__name">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-twitter.svg" alt="icon" width="20" height="20">
            <h4 class="icon-name">@nathanf</h4>
          </div>
          <div class="card-followers">
            <div class="followers-number" [style.color]="themeActive.numbers">1044</div>
            <div class="followers-text">Followers</div>
          </div>
          <div class="card-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">99 Today</h4>
          </div>

        </div>
      </div>

      <div class="card-container">
        <div class="card-header instagram">

        </div>
        <div class="card" [style.background-color]="themeActive?.card"
             [ngClass]="themeActive.cardClassHover">
          <div class="card-icon__name">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-instagram.svg" alt="icon" width="20" height="20">
            <h4 class="icon-name">@realnathanf</h4>
          </div>
          <div class="card-followers">
            <div class="followers-number" [style.color]="themeActive.numbers">11k</div>
            <div class="followers-text">Followers</div>
          </div>
          <div class="card-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">1099 Today</h4>
          </div>

        </div>
      </div>

      <div class="card-container">
        <div class="card-header youtube">

        </div>
        <div class="card" [style.background-color]="themeActive?.card"
             [ngClass]="themeActive.cardClassHover">
          <div class="card-icon__name">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-youtube.svg" alt="icon" width="20" height="20">
            <h4 class="icon-name">Nathan F.</h4>
          </div>
          <div class="card-followers">
            <div class="followers-number" [style.color]="themeActive.numbers">8239</div>
            <div class="followers-text">Subscribers</div>
          </div>
          <div class="card-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-down.svg" alt="indicador bajada" width="8" height="4">
            <h4 class="percent-value red-color">144 Today</h4>
          </div>

        </div>
      </div>

    </div>
  </div>


  <!--Segunda seccion-->

  <div class="wrapper-second">
    <h2 class="second-section__text">Overview - Today</h2>

    <div class="second-section">


      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover">
        <div class="row-icon">
          <div class="row-text">Page Views</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-facebook.svg" alt="logo facebook" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">87</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">3%</h4>
          </div>
        </div>
      </div>

      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover"
      >
        <div class="row-icon">
          <div class="row-text">Likes</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-facebook.svg" alt="logo facebook" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">52</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-down.svg" alt="indicador bajada" height="4" width="8">
            <h4 class="percent-value red-color">2%</h4>
          </div>
        </div>
      </div>

      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover">
        <div class="row-icon">
          <div class="row-text">Likes</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-instagram.svg" alt="logo instagram" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">5462</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">2257%</h4>
          </div>
        </div>
      </div>

      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover">
        <div class="row-icon">
          <div class="row-text">Profile Views</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-instagram.svg" alt="logo instagram" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">52k</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">1375%</h4>
          </div>
        </div>
      </div>

      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover"
      >
        <div class="row-icon">
          <div class="row-text">Retweets</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-twitter.svg" alt="logo twitter" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">117</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">303%</h4>
          </div>
        </div>
      </div>

      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover"
      >
        <div class="row-icon">
          <div class="row-text">Likes</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-twitter.svg" alt="logo twitter" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">507</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-up.svg" alt="indicador subida" height="4" width="8">
            <h4 class="percent-value green-color">553%</h4>
          </div>
        </div>
      </div>

      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover"
      >
        <div class="row-icon">
          <div class="row-text">Likes</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-youtube.svg" alt="logo youtube" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">107</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-down.svg" alt="indicador bajada" height="4" width="8">
            <h4 class="percent-value red-color">19%</h4>
          </div>
        </div>
      </div>

      <div class="second-card"
           [style.background-color]="themeActive?.card"
           [ngClass]="themeActive.cardClassHover"
      >
        <div class="row-icon">
          <div class="row-text">Total Views</div>
          <div class="row-icon__img">
            <img src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-youtube.svg" alt="logo youtube" width="20" height="20">
          </div>
        </div>
        <div class="row-values">
          <div class="count-card" [style.color]="themeActive.numbers">1407</div>
          <div class="row-percent">
            <img class="percent-indicator" src="https://jyvega.github.io/social-media-dashboard/assets/images/icon-down.svg" alt="indicador bajada" height="4" width="8">
            <h4 class="percent-value red-color">12%</h4>
          </div>
        </div>
      </div>

    </div>

  </div>


</main>

</body>


